<section>
      <section>
        <img src="gray-circle.jpg" alt="Mountain View" style="width:30px;height:30px">
        P185/Person<br><p>Long description of this package will go here.<br>Another line.</p>
        <input type="radio">
      </section>
    
    
      <section>
        <img src="gray-circle.jpg" alt="Mountain View" style="width:30px;height:30px">
        P200/Person<br><p>Long description of this package will go here.<br>Another line.</p>
        <input type="radio">
      </section>
    
      <section>
        <img src="gray-circle.jpg" alt="Mountain View" style="width:30px;height:30px">
        P220/Person<br><p>Long description of this package will go here.<br>Another line.</p>
        <input type="radio"><br>
        <button type="submit" >Proceed to Booking Details</button>
      </section>
</section>